* {
  font-family: cinzel sans-serif;
}

#body4 img {
  width: 100%;
  cursor: pointer;
}
#body4 header {
  height: 170px;
  background-color: rgb(24, 38, 52);
}
#body4 header #nav5 {
  padding-top: 3%;
  padding-left: 3%;
  background-color: rgb(24, 38, 52);
}
#body4 header #nav5 ul {
  padding-left: 4%;
}
#body4 header #nav5 ul li {
  padding-left: 17px;
}
#body4 header #nav5 ul a {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#body4 header #nav5 ul a:hover {
  color: rgb(38, 120, 201);
}
@media screen and (max-width: 992px) {
  #body4 header #nav5 ul li {
    padding-left: 0;
  }
}
@media screen and (max-width: 992px) {
  #body4 header #nav5 ul {
    padding-left: 0;
  }
}
#body4 #biblesec {
  padding: 50px;
}
#body4 #biblesec .bible h5 {
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#body4 #biblesec .bible h5:hover {
  color: rgba(7, 114, 255, 0.975);
}
@media screen and (max-width: 1200px) {
  #body4 #biblesec .bible h5 {
    font-size: 17px;
  }
}
#body4 #biblesec .bible p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  font-family: cinzel sans-serif;
  color: gray;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#body4 #biblesec .bible p:hover {
  color: rgba(7, 114, 255, 0.975);
}
@media screen and (max-width: 1200px) {
  #body4 #biblesec .bible p {
    font-size: 16px;
  }
}
#body4 #biblesec .bible hr {
  width: 100%;
  margin-top: 100px;
  border: 1px solid rgb(103, 102, 102);
}
#body4 #biblesec .bible .sp1 {
  padding-left: 290px;
}
@media screen and (max-width: 1400px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 200px;
  }
}
@media screen and (max-width: 1350px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 170px;
  }
}
@media screen and (max-width: 1020px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 148px;
  }
}
@media screen and (max-width: 999px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 81%;
  }
}
@media screen and (max-width: 800px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 70%;
  }
}
@media screen and (max-width: 500px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 65%;
  }
}
@media screen and (max-width: 450px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 55%;
  }
}
@media screen and (max-width: 400px) {
  #body4 #biblesec .bible .sp1 {
    padding-left: 42%;
  }
}
@media screen and (max-width: 1400px) {
  #body4 #biblesec {
    padding: 45px;
  }
}
@media screen and (max-width: 1200px) {
  #body4 #biblesec {
    padding: 40px;
  }
}
@media screen and (max-width: 900px) {
  #body4 #biblesec {
    padding: 35px;
  }
}
@media screen and (max-width: 700px) {
  #body4 #biblesec {
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  #body4 #biblesec {
    padding: 25px;
  }
}
@media screen and (max-width: 400px) {
  #body4 #biblesec {
    padding: 20px;
  }
}
#body4 h1 {
  font-size: 50px;
}
@media screen and (max-width: 1400px) {
  #body4 h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1200px) {
  #body4 h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 900px) {
  #body4 h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 700px) {
  #body4 h1 {
    font-size: 25px;
  }
}
#body4 .firstp {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  font-family: cinzel sans-serif;
  color: rgb(111, 109, 109);
}
@media screen and (max-width: 400px) {
  #body4 .firstp {
    font-size: 12px;
  }
}
#body4 footer #nav6 {
  padding-top: 3%;
  padding-left: 3%;
  background-color: rgb(24, 38, 52);
}
#body4 footer #nav6 ul {
  padding-left: 10%;
}
#body4 footer #nav6 ul li {
  padding-left: 35px;
}
#body4 footer #nav6 ul a {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#body4 footer #nav6 ul a:hover {
  color: rgb(38, 120, 201);
}
@media screen and (max-width: 992px) {
  #body4 footer #nav6 ul li {
    padding-left: 0;
  }
}
#body4 footer #nav6 .iconli {
  padding-left: 200px;
}
@media screen and (max-width: 992px) {
  #body4 footer #nav6 .iconli {
    padding-left: 0;
  }
}
@media screen and (max-width: 992px) {
  #body4 footer #nav6 ul {
    padding-left: 0;
  }
}